.Item_Image {
  display: flex;
  flex-direction: row;
  // width: 35vh;
  height: 20vh;
  justify-content: center;
}

.DivContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: 0vh;
  margin: 0px;
  width: 30vw;
}
