a {
    text-decoration: none;
    &:visited {
        color: black;
    }
}

.imgslidercontainer {
    margin: 5vh;
    text-align: center;
}

.sliderimages {
    justify-content: center;
    align-items: center;
    margin: 2vh;
    width: auto;
    height: 10vh;
}
