a {
    text-decoration: none;
    &:visited {
        color: black;
    }
}

.imgslidercontainer {
  background-color: green;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: auto;
}

.imgslider {
    justify-content: center;
    width: auto;
    height: 30vh;
}

.sliderimages {
    width: auto;
    height: 30vh;
}
